NODE_ENV=development
PORT=8080
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback

DB_HOST=localhost
DB_PORT=5432
DB_NAME=social_media
DB_USER=admin
DB_PASSWORD=admin_password
DB_DIALECT=postgres

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

RESEND_API_KEY=
MAIL_FROM=Social Promax <onboarding@resend.dev>

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=social-promax
CLOUDINARY_UPLOAD_TIMEOUT_MS=120000
